@model IEnumerable<DataLayer.PageGroup>

    <span>گروه های خبری</span>

    <ul>
        @foreach (var item in Model)
        {
            <li><a href="/Group/@item.Id/@item.Title">@item.Title</a></li>
        }
    </ul>