<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    
        <title>داشبورد</title>

        <link href="~/styles.css" rel="stylesheet" />
        
        <link href="~/Admin/css/style.css" rel="stylesheet" />

    </head>

    <body class="skin-blue sidebar-mini">
        <div class="wrapper">
            <header class="main-header">
                <span class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    پرتال مدیریت
                </span>
                <nav class="navbar navbar-static-top d-flex flex-row-reverse" role="navigation">
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only bi bi-list"></span>
                    </a>
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav flex-row-reverse">
                            <li id="NameOfUser">
                                <a href="/Home/Index">
                                    ابراهیم ابراهیمی
                                </a>
                            </li>
                            <li class="mr-10">
                                <a href="/Login/LogOut"><i class="bi bi-box-arrow-in-left"></i></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <aside class="main-sidebar">
                <section class="sidebar active">
                    <ul class="sidebar-menu">
                        <li class="header"></li>
                        <li class="active">
                            <a href="/">
                                <i class="bi bi-house"></i> <span>داشبورد</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="#" class="d-flex">
                                <i class="bi bi-people"></i> <span>فضای کاربری</span>
                                <i class="bi bi-caret-left flex-grow-1 d-flex flex-row-reverse"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li class=""><a href="/Home/Index"><i class="bi bi-circle"></i>پروفایل کاربر</a></li>
                                <li class=""><a href="/ManageUsers/UserLogList"><i class="bi bi-circle"></i> فعالیت کاربر</a></li>
                                <li class=""><a href="/ManageTasks/TaskList"><i class="bi bi-circle"></i> مدیریت وظایف</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#" class="d-flex">
                                <i class="bi bi-bar-chart"></i> <span>گزارش ها</span>
                                <i class="bi bi-caret-left flex-grow-1 d-flex flex-row-reverse"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li class=""><a href="/Report/DetailTransactionReport"><i class="bi bi-circle"></i> تراکنش های سیستم</a></li>
                                <li class=""><a href="/Report/DetailChargeReport"><i class="bi bi-circle"></i> شارژ کارت ها</a></li>
                                <li class=""><a href="/Report/CardEventReport"><i class="bi bi-circle"></i> رخداد های کارت</a></li>
                            </ul>
                        </li>
                    </ul>
                </section>
            </aside>

            <div class="content-wrapper" style="min-height: 554px;">
                <section class="content-header">
                    <h1>
                        داشبورد
                    </h1>
                    <hr>
                </section>

                <section class="content">
                @RenderBody()
                </section>
            </div>

            <footer class="main-footer text-center">
                <p>تهیه و پیاده سازی شده توسط:</p>
            </footer>

        </div>

        <script src="~/scripts.js"></script>
        <script src="~/Admin/js/adminlte.js"></script>
        @RenderSection("scripts", required: false)

    </body>

</html>