.wrapper.wrapper-full-page {
    height: auto;
    min-height: 100vh;
}

.content-wrapper {
    padding: 0 15px;
}

.wrapper .content-sub-header {
    font-size: 0.9rem;
}

.wrapper.nav-collapsed .app-sidebar {
    width: 60px;
}

    .wrapper.nav-collapsed .app-sidebar:hover {
        width: 250px;
    }

        .wrapper.nav-collapsed .app-sidebar:hover .nav li.has-sub > a:after {
            display: inherit;
        }

        .wrapper.nav-collapsed .app-sidebar:hover .menu-title, .wrapper.nav-collapsed .app-sidebar:hover .badge {
            display: inline-block;
        }

        .wrapper.nav-collapsed .app-sidebar:hover .logo .text {
            display: inline-block;
        }

        .wrapper.nav-collapsed .app-sidebar:hover .nav-toggle {
            display: block !important;
        }

    .wrapper.nav-collapsed .app-sidebar .menu-title {
        display: none;
    }

    .wrapper.nav-collapsed .app-sidebar .badge {
        display: none;
    }

    .wrapper.nav-collapsed .app-sidebar .logo .text {
        display: none;
    }

    .wrapper.nav-collapsed .app-sidebar .nav-toggle {
        display: none !important;
    }

    .wrapper.nav-collapsed .app-sidebar .nav-close {
        display: none !important;
    }

.sidebar-header a.nav-toggle {
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    left: 18px;
    top: 30px;
    color: rgba(255, 255, 255, 0.55);
}

.sidebar-header a.nav-close {
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    right: 14px;
    top: 32px;
    color: white;
}

.app-sidebar .logo-img, .off-canvas-sidebar .logo-img {
    width: 38px;
    display: inline-block;
    margin-left: 15px;
}

    .app-sidebar .logo-img img, .off-canvas-sidebar .logo-img img {
        width: 38px;
    }

.app-sidebar .logo, .off-canvas-sidebar .logo {
    position: relative;
    padding: 18px 15px 18px 10px;
    z-index: 4;
}

    .app-sidebar .logo p, .off-canvas-sidebar .logo p {
        float: left;
        font-size: 20px;
        margin: 10px 10px;
        color: #FFFFFF;
        line-height: 20px;
    }

    .app-sidebar .logo .logo-text, .off-canvas-sidebar .logo .logo-text {
        text-transform: uppercase;
        padding: 5px 0;
        display: block;
        font-size: 1.6rem;
        color: #000000;
        text-align: left;
    }

.clearfix::after {
    display: block;
    clear: both;
    content: '';
}

.app-sidebar .sidebar-content, .off-canvas-sidebar .sidebar-content {
    position: relative;
    height: -webkit-calc(100vh - 90px);
    height: -moz-calc(100vh - 90px);
    height: calc(100vh - 90px);
    overflow: auto;
    z-index: 4;
}

.app-sidebar .navigation, .off-canvas-sidebar .navigation {
    margin-bottom: 0;
    padding-right: 0;
    list-style: none;
}

    .app-sidebar .navigation li, .off-canvas-sidebar .navigation li {
        position: relative;
        display: block;
    }

        .app-sidebar .navigation li.has-sub > a:after, .off-canvas-sidebar .navigation li.has-sub > a:after {
            content: '\e928';
            font-family: 'feather';
            font-size: 1rem;
            display: inline-block;
            position: absolute;
            left: 1.75rem;
            top: 10px;
            -webkit-transform: rotate(0);
            -moz-transform: rotate(0);
            -ms-transform: rotate(0);
            -o-transform: rotate(0);
            transform: rotate(0);
            transition: -webkit-transform 0.2s ease-in-out;
        }

        .app-sidebar .navigation li.has-sub > a, .off-canvas-sidebar .navigation li.has-sub > a {
            margin-bottom: 0;
            font-size: 0.95rem;
        }

            .app-sidebar .navigation li.has-sub > a span.menu-title, .off-canvas-sidebar .navigation li.has-sub > a span.menu-title {
                font-size: 0.95rem;
            }

        .app-sidebar .navigation li.has-sub.open .menu-content a, .off-canvas-sidebar .navigation li.has-sub.open .menu-content a {
            font-size: 0.85rem;
        }

        .app-sidebar .navigation li.has-sub .has-sub.open .menu-content a, .off-canvas-sidebar .navigation li.has-sub .has-sub.open .menu-content a {
            font-size: 0.85rem;
        }

        .app-sidebar .navigation li.has-sub .has-sub.open > a, .off-canvas-sidebar .navigation li.has-sub .has-sub.open > a {
            background: none;
        }

            .app-sidebar .navigation li.has-sub .has-sub.open > a:before, .off-canvas-sidebar .navigation li.has-sub .has-sub.open > a:before {
                content: '';
                display: block;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background-color: #FFFFFF;
                border-color: #FFFFFF;
                position: absolute;
                right: 30px;
                top: 21px;
                -webkit-transform: translate(-10px, -50%);
                -moz-transform: translate(-10px, -50%);
                -ms-transform: translate(-10px, -50%);
                -o-transform: translate(-10px, -50%);
                transform: translate(-10px, -50%);
                opacity: 1;
                -webkit-transition: all 0.2s ease;
                -o-transition: all 0.2s ease;
                -moz-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }

        .app-sidebar .navigation li.has-sub .has-sub.open:hover > a, .off-canvas-sidebar .navigation li.has-sub .has-sub.open:hover > a {
            background: rgba(200, 200, 200, 0.2);
        }

        .app-sidebar .navigation li.has-sub a span, .off-canvas-sidebar .navigation li.has-sub a span {
            font-size: 0.85rem;
        }

        .app-sidebar .navigation li.open > a:after, .off-canvas-sidebar .navigation li.open > a:after {
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
        }

        .app-sidebar .navigation li.open > a, .off-canvas-sidebar .navigation li.open > a {
            background: rgba(200, 200, 200, 0.2);
        }

        .app-sidebar .navigation li.active a, .off-canvas-sidebar .navigation li.active a {
            background: #FFFFFF;
            color: #FF4961 !important;
            padding-left: 70px;
            /* -webkit-transition: padding 0.3s ease;
                    transition: padding 0.3s ease; */
            -webkit-box-shadow: 0 6px 14px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 6px 14px 2px rgba(0, 0, 0, 0.2);
            font-size: 0.85rem;
        }

            .app-sidebar .navigation li.active a:before, .off-canvas-sidebar .navigation li.active a:before {
                content: '';
                display: block;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background-color: #FA626B;
                border-color: #FA626B;
                position: absolute;
                right: 13%;
                top: 50%;
                -webkit-transform: translate(-10px, -50%);
                -moz-transform: translate(-10px, -50%);
                -ms-transform: translate(-10px, -50%);
                -o-transform: translate(-10px, -50%);
                transform: translate(-10px, -50%);
                opacity: 1;
                -webkit-transition: all 0.2s ease;
                -o-transition: all 0.2s ease;
                -moz-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }

            .app-sidebar .navigation li.active a span, .off-canvas-sidebar .navigation li.active a span {
                font-size: 0.85rem;
            }

        .app-sidebar .navigation li.active:hover > a, .off-canvas-sidebar .navigation li.active:hover > a {
            background: #FFFFFF;
        }

        .app-sidebar .navigation li a, .off-canvas-sidebar .navigation li a {
            position: relative;
        }

            .app-sidebar .navigation li a span.badge, .off-canvas-sidebar .navigation li a span.badge {
                position: absolute;
                left: 3rem;
            }

        .app-sidebar .navigation li > a, .off-canvas-sidebar .navigation li > a {
            display: block;
            overflow: hidden;
            line-height: 2rem;
            padding: 7px 14px 7px 10px;
            margin: 10px 13px;
            border-radius: 3rem;
            color: #000000;
        }

        .app-sidebar .navigation li:not(.open) > ul, .off-canvas-sidebar .navigation li:not(.open) > ul {
            display: none;
        }

        .app-sidebar .navigation li:hover > a, .off-canvas-sidebar .navigation li:hover > a {
            background: rgba(200, 200, 200, 0.2);
        }

        .app-sidebar .navigation li ul, .off-canvas-sidebar .navigation li ul {
            padding: 0;
            margin: 0;
            overflow: hidden;
            font-size: 1rem;
        }

            .app-sidebar .navigation li ul li a, .off-canvas-sidebar .navigation li ul li a {
                display: block;
                padding: 5px 55px 5px 18px;
                margin: 8px 13px;
            }

    .app-sidebar .navigation > li.active > a, .off-canvas-sidebar .navigation > li.active > a {
        background: #FFFFFF;
        color: #FF4961 !important;
        padding-left: 14px;
        -webkit-box-shadow: 0 6px 14px 2px rgba(0, 0, 0, 0.2);
        box-shadow: 0 6px 14px 2px rgba(0, 0, 0, 0.2);
    }

        .app-sidebar .navigation > li.active > a:before, .off-canvas-sidebar .navigation > li.active > a:before {
            color: #FF4961 !important;
            content: none;
        }

        .app-sidebar .navigation > li.active > a i, .off-canvas-sidebar .navigation > li.active > a i {
            color: #FF4961 !important;
        }

    .app-sidebar .navigation > li.active:hover > a, .off-canvas-sidebar .navigation > li.active:hover > a {
        background: #FFFFFF;
    }

    .app-sidebar .navigation .menu-title, .off-canvas-sidebar .navigation .menu-title {
        margin: 0;
        font-size: 0.95rem;
        opacity: 1;
        height: auto;
        -webkit-transition: width 0.3s cubic-bezier(0, 0, 0.2, 1);
        -o-transition: width 0.3s cubic-bezier(0, 0, 0.2, 1);
        -moz-transition: width 0.3s cubic-bezier(0, 0, 0.2, 1);
        transition: width 0.3s cubic-bezier(0, 0, 0.2, 1);
    }

    .app-sidebar .navigation .badge.badge-pill, .off-canvas-sidebar .navigation .badge.badge-pill {
        padding: 4px 8px;
        -webkit-transition: width 0.3s cubic-bezier(0, 0, 0.2, 1);
        -o-transition: width 0.3s cubic-bezier(0, 0, 0.2, 1);
        -moz-transition: width 0.3s cubic-bezier(0, 0, 0.2, 1);
        transition: width 0.3s cubic-bezier(0, 0, 0.2, 1);
    }

    .app-sidebar .navigation i, .off-canvas-sidebar .navigation i {
        font-size: 18px;
        float: right;
        margin-left: 10px;
        margin-right: 1px;
        line-height: 2rem;
        width: 30px;
        text-align: center;
        color: #A9AFBB;
    }

.wrapper.nav-collapsed .app-sidebar:hover .menu-title, .wrapper.nav-collapsed .app-sidebar:hover .badge {
    display: inline-block;
}

.app-sidebar .sidebar-background, .off-canvas-sidebar .sidebar-background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

    .app-sidebar .sidebar-background:after, .off-canvas-sidebar .sidebar-background:after {
        position: absolute;
        z-index: 3;
        width: 100%;
        height: 100%;
        content: '';
        display: block;
        background: #FFFFFF;
        opacity: 0.93;
    }
