@model DataLayer.Page

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3>آیا از حذف  مطمئن هستید؟</h3>


<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-danger" />
        <a class="btn btn-dark" asp-action="Index">بازگشت</a>
    </form>
</div>

